.containerHeader {
    height: 40px;
    background-color: #9890C7;
    display: flex;
    align-items: center;
    justify-content: start;
}

.header {
    width: 500px;
    display: flex;
    justify-content: space-around;
}