
.button {
    min-width: 190px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 40px;
    background: #232480;
    color: #fff;
    padding: 13px;
    font-size: 1rem;
    cursor: auto;
    
}

.button:hover {
    background: #1d49aa;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}







