
.button {
    color: #d027f1;
    border: 2px;
    border-radius: 5px;
    font-size: 14px;
    font-family: inherit;
    height: 50px;
    min-width: 50px;
    position: relative;
    margin: 10px;
    overflow: hidden;

}

.button:hover{   /*при наведении*/
    cursor: pointer;
  /*  animation: blink 0.35s ease;*/
}

.button:focus{
    outline: solid 1px;
}

.button:active{
    background: #c0d4ec;
}

button:disabled{
    color: #c88ce7;
    cursor:auto;
}

.button:disabled::after{
    z-index: -1;
}

