.input {
    height: 65px;
    width: 347px;
    left: 0px;
    top: 46.42px;
    border: 0px;
    outline: 0;
    background-color: #F9F9FE;
    border-bottom: 1.5px solid #aaa9a9;
    font-size: 14px;
}

.input ::-webkit-input-placeholder {
    font-family: SF UI Display;
}

input::placeholder {
    font-size: 13px;
}