.form{
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 2%;
    padding-top: 20px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.input {
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;

}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.container{

    min-height: 100vh;
    background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    min-width: 250px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 40px;
    background: #232480;
    color: #fff;
    padding: 10px 16px;
    font-size: 1rem;
    cursor: auto;
}

.button:hover {
    background: #1d49aa;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}