.packsList{
  min-height: 100vh;
    background: linear-gradient( 180deg, #E6D4DE 0%, #9890C7 100%);
    
}
  .aside{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: stretch;
    padding: 20px 100px ;
  }
  

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }







