.container{
    min-height: 100vh;
    background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    height: 550px;
    width: 350px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 25px;
}


.block h3, .block h2 {
    text-align: center;
}

.block h2 {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 35px; 
}

.instruction {
    margin-top: 15%;
    font-size: 16px;
    text-align: center;
}