.searchInput {
    height: 36px;
    width:520px;
    left: 427px;
    top: 156px;
    background: #ECECF9;
    opacity: 0.5;
    border: 1px solid #635D80;
    box-sizing: border-box;
    border-radius: 2px;
}