.checkEmailBlock{
    min-height: 100vh;
    background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.checkEmail{
    height: 550px;
    width: 350px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 25px;
    margin-top: 10px;
    text-align: center;
}

.iconBg{
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 20% auto;
  
    height: 108px;
    width: 108px;
  
    background-color: rgb(203, 203, 243);
    border-radius: 50%
}

.caption{
    margin-bottom: 20px;
   
}

.text{
    margin-top: 15%;
    font-size: 16px;
}

